<!-- templates/home.html -->

{% extends "base.html" %}
{% block body %}

<main id="content" class="container">
  <a href="/" type="button" class="btn btn-info btn-arrow-left">Home</a>
  <section id="journal-entry-form">
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="email" class="form-control" id="title" placeholder="Journal title">
      </div>
      <div class="form-group">
        <label for="entry">Entry</label>
        <textarea class="form-control" rows="25" id="entry"></textarea>
      </div>
      <a href="/single-entry" class="btn btn-primary">Submit</a>
    </form>
  </section>
</main>

{% endblock %}
