{% extends "base.html" %}

{% block title %} {% endblock %}

{% block css %}


{% endblock %}

{% block body %}

<main id="content" class="container">
  <a href="/" type="button" class="btn btn-info btn-arrow-left">Home</a>
  <br>
  <section>
    <form id="journal-entry-form" action="{{ request.route_url('edit-entry', id=entry.id) }}" method="POST">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Entry title" value="{{ entry.title }}" name="title">
      </div>
      <div class="form-group">
        <label for="entry">Entry</label>
        <textarea name="body" class="form-control" rows="25" id="entry">{{ entry.body }}</textarea>
      </div>
      <button id="journal-entry-submit-button" type="submit" class="btn btn-primary">Save</button>
    </form>
  </section>
</main>

{% endblock %}

{% block js %}
<script>
  $(document).ready(function() {
    $('#journal-entry-submit-button').click(function(e) {
      e.preventDefault();
      $.ajax({
        type: "POST",
        url: window.location.path,
        data: $('#journal-entry-form').serialize(),
      }).done(function(){
        alert('Entry saved!');
      }).fail(function() {
        alert('Something went wrong');
      });
    });
  });
</script>
{% endblock %}
