{% extends "base.html" %}
{% block body %}
{% if error != '' %}

<div class="alert alert-danger">
  <strong>Error!</strong> {{ error }}
</div>

{% endif %}
<main id="content" class="container">
  <a href="/" type="button" class="btn btn-info btn-arrow-left">Home</a>
  <section>
    <form id="journal-entry-form" action="{{ request.route_url('new-entry') }}" method="POST">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Journal title" name="title">
      </div>
      <div class="form-group">
        <label for="entry">Entry</label>
        <textarea name="body" class="form-control" rows="25" id="entry"></textarea>
      </div>
      <button id="journal-entry-submit-button" type="submit" class="btn btn-primary">Submit</button>
    </form>
  </section>
</main>

{% endblock %}

{% block js %}
<script>
  $(document).ready(function() {
    $('#journal-entry-submit-button').click(function(e) {
      e.preventDefault();
      console.log();
      $.ajax({
        type: "POST",
        url: window.location.path,
        data: $('#journal-entry-form').serialize(),
      }).done(function(){
        alert('New entry saved!');
      }).fail(function() {
        alert('Something is wrong');
      });
    });
  });
</script>
{% endblock %}
